asgiref==3.11.1
Django==6.0.3
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
Pillow==12.2.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2025.3
pypdf==5.3.1
beautifulsoup4==4.13.3
psycopg[binary]>=3.2,<4
gunicorn>=21.2.0
dj-database-url==2.3.0
drf-spectacular==0.29.0
python-dotenv==1.0.0
whitenoise==6.4.0
setuptools>=70.0.0